# The complete URL of the Slack Webhook to send news notifications to.
#export SLACK_WEBHOOK_URL="https://hooks.slack.com/services/XXXXXXX/XXXXXXX/XXXXXXXXXXXX"

# A list of RSS URLs to scrape. Use feeds without access restrictions.
export URLS="
  http://rss.slashdot.org/Slashdot/slashdot;
  https://9to5mac.com/rss;
  https://hnrss.org/frontpage;
  http://rss.cnn.com/rss/edition.rss;
  http://rss.cnn.com/rss/edition_world.rss;
  http://rss.cnn.com/rss/edition_europe.rss;
  http://rss.cnn.com/rss/money_mostpopular.rss;
  https://davidgerard.co.uk/blockchain/feed/;
  https://www.duluthnewstribune.com/lifestyle/astro-bob.rss;
  https://www.engadget.com/rss.xml;
  http://feeds.arstechnica.com/arstechnica/index/;
  http://feeds.mashable.com/Mashable;
  https://feeds.npr.org/1001/rss.xml;
  http://feeds.nature.com/nature/rss/current;
  https://news.ycombinator.com/rss;
  https://www.smashingmagazine.com/feed/;
  https://www.tomshardware.com/feeds/all;"

# A list of topics to search for and report on.
export TOPICS="
  Tuscany, the famous region in Italy;
  Space and Space Exploration;
  Bitcoins, the cryptocurrency;
  Electric Cars;
  Personal Health and longevity;
  New Apple products, like new versions of iPhone, iPad and MacBooks, or newly announced products;
  The Llama large language model;
  improvements in E Ink technology;
  the Rust programming language;"

# Optionally specify a custom port for the Ollama API.
#export OLLAMA_PORT="11434"

# Optionally specify a custom hostname for the Ollama API.
#export OLLAMA_HOST="http://localhost"

# Optionally specify an Ollama model to use.
#export OLLAMA_MODEL="llama2"

# Optionally specify a custom path to the SQLite database file.
#export DATABASE_PATH="argus.db"
