# The OAuth token of the Slack App to send news notifications.
export SLACK_TOKEN="xoxb-XXXXXXXXXXXX-XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXX"

# The Slack channel ID to send the notifications to.
export SLACK_CHANNEL="CXXXXXXXXX"

# A list of RSS URLs to scrape. Use feeds without access restrictions.
export URLS="
  http://rss.slashdot.org/Slashdot/slashdot;
  https://9to5mac.com/rss;
  https://hnrss.org/frontpage;
  http://rss.cnn.com/rss/edition.rss;
  http://rss.cnn.com/rss/edition_world.rss;
  http://rss.cnn.com/rss/edition_europe.rss;
  http://rss.cnn.com/rss/money_mostpopular.rss;
  https://davidgerard.co.uk/blockchain/feed/;
  https://www.duluthnewstribune.com/lifestyle/astro-bob.rss;
  https://www.engadget.com/rss.xml;
  http://feeds.arstechnica.com/arstechnica/index/;
  http://feeds.mashable.com/Mashable;
  https://feeds.npr.org/1001/rss.xml;
  http://feeds.nature.com/nature/rss/current;
  https://news.ycombinator.com/rss;
  https://www.smashingmagazine.com/feed/;
  https://www.tomshardware.com/feeds/all;"

# A list of topics to search for and report on.
export TOPICS="
  Tuscany, the famous region in Italy;
  Space and Space Exploration;
  Bitcoins, the cryptocurrency;
  Electric Cars;
  Personal Health and longevity;
  New Apple products, like new versions of iPhone, iPad and MacBooks, or newly announced products;
  The Llama large language model;
  improvements in E Ink technology;
  the Rust programming language;"

# DECISION_OLLAMA_CONFIGS allows you to specify Ollama instances for decision-making.
# Each configuration consists of a host, port, and model, separated by the '|' character.
# Multiple configurations are separated by the ';' character.
#
# Example Configuration:
# export DECISION_OLLAMA_CONFIGS="http://192.168.0.100|11434|llama3.1:70b-instruct-fp16;http://192.168.0.101|11434|llama3.1:7b"

# ANALYSIS_OLLAMA_CONFIGS allows you to specify Ollama instances for analysis.
# Similar format as DECISION_OLLAMA_CONFIGS.
#
# Example Configuration:
# export ANALYSIS_OLLAMA_CONFIGS="http://192.168.0.200|11434|llama3.1:70b-instruct-fp16"

# DECISION_OPENAI_CONFIGS allows you to specify OpenAI API keys and models for decision-making.
# Each configuration consists of an API key and model, separated by the '|' character.
# Multiple configurations are separated by the ';' character.
#
# Example Configuration:
# export DECISION_OPENAI_CONFIGS="sk-XXXXX|gpt-4;sk-YYYYY|gpt-3.5-turbo"

# ANALYSIS_OPENAI_CONFIGS allows you to specify OpenAI API keys and models for analysis.
# Similar format as DECISION_OPENAI_CONFIGS.
#
# Example Configuration:
# export ANALYSIS_OPENAI_CONFIGS="sk-ZZZZZ|gpt-4"

# Optionally specify a custom path to the SQLite database file.
#export DATABASE_PATH="argus.db"

# Optionally specify a temperature for the language model, default is 0.0.
#export LLM_TEMPERATURE="0.0"

# Specify the path to the JSON file with place information.
#export PLACES_JSON_PATH="places.json"

# Logging level for the application. Possible values are: trace, debug, info, warn, error
export RUST_LOG="info"
